# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [4]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [5]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [7]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [12]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [13]:
document = ET.parse( './data/mondial_database.xml' )

In [33]:
for country in document.getroot().iterfind('country'):
    if country.find('infant_mortality') == None:
        continue
    print(country.find('name').text + " " + country.find('infant_mortality').text)

Albania 13.19
Greece 4.78
Macedonia 7.9
Serbia 6.16
Andorra 3.69
France 3.31
Spain 3.33
Austria 4.16
Czech Republic 2.63
Germany 3.46
Hungary 5.09
Italy 3.31
Liechtenstein 4.33
Slovakia 5.35
Slovenia 4.04
Switzerland 3.73
Belarus 3.64
Latvia 7.91
Lithuania 6
Poland 6.19
Ukraine 8.1
Russia 7.08
Belgium 4.18
Luxembourg 4.28
Netherlands 3.66
Bosnia and Herzegovina 5.84
Croatia 5.87
Bulgaria 15.08
Romania 10.16
Turkey 21.43
Denmark 4.1
Estonia 6.7
Faroe Islands 5.71
Finland 3.36
Norway 2.48
Sweden 2.6
Monaco 1.81
Gibraltar 6.29
Guernsey 3.47
Iceland 3.15
Ireland 3.74
San Marino 4.52
Jersey 3.86
Malta 3.59
Isle of Man 4.17
Moldova 12.93
Portugal 4.48
United Kingdom 4.44
Afghanistan 117.23
China 14.79
Iran 39
Pakistan 57.48
Tajikistan 35.03
Turkmenistan 38.13
Uzbekistan 19.84
Armenia 13.97
Georgia 16.68
Azerbaijan 26.67
Bahrain 9.68
Bangladesh 45.67
Myanmar 44.91
India 43.19
Bhutan 37.89
Brunei 10.48
Malaysia 13.69
Laos 54.53
Thailand 9.86
Cambodia 51.36
Vietnam 18.99
Kazakhstan 21.61
North Korea 24.5
Kyrgyzstan 28.71
Hong Kong 2.73
Macao 3.13
Mongolia 23.15
Nepal 40.43
Cyprus 8.54
Gaza Strip 30.6
Israel 3.98
Egypt 22.41
Indonesia 25.16
Timor-Leste 38.79
Papua New Guinea 39.67
Iraq 37.53
Jordan 15.73
Kuwait 7.51
Saudi Arabia 14.58
Syria 15.79
Lebanon 7.98
West Bank 28.6
Japan 2.13
South Korea 3.93
Maldives 24.59
Oman 14
United Arab Emirates 10.92
Yemen 50.41
Philippines 17.64
Qatar 6.42
Singapore 2.53
Sri Lanka 9.02
Taiwan 4.49
Anguilla 3.4
Antigua and Barbuda 13.29
Aruba 11.74
Bahamas 12.5
Barbados 10.93
Belize 20.31
Guatemala 23.51
Mexico 12.58
Bermuda 2.48
British Virgin Islands 13.45
Canada 4.71
United States 6.17
Cayman Islands 6.21
Costa Rica 8.7
Nicaragua 20.36
Panama 10.7
Cuba 4.7
Dominica 11.61
Dominican Republic 19.63
Haiti 49.43
El Salvador 18.44
Honduras 18.72
Greenland 9.42
Grenada 10.5
Guadeloupe 8.3
Jamaica 13.69
Martinique 7.1
Montserrat 13.66
Sint Maarten 9.05
Colombia 15.02
Puerto Rico 7.73
Saint Kitts and Nevis 8.98
Saint Lucia 11.75
Saint Pierre and Miquelon 6.95
Saint Vincent and the Grenadines 13.07
Trinidad and Tobago 24.82
Turks and Caicos Islands 10.97
Virgin Islands 6.79
American Samoa 8.92
Australia 4.43
Cook Islands 14.33
Fiji 10.2
French Polynesia 4.78
Guam 5.51
Kiribati 35.37
Marshall Islands 21.39
Micronesia 21.93
Nauru 8.21
New Caledonia 5.46
New Zealand 4.59
Northern Mariana Islands 5.5
Palau 11.46
Solomon Islands 16.17
Tonga 12.36
Tuvalu 31.69
Vanuatu 16.41
Wallis and Futuna 4.49
Samoa 20.5
Argentina 9.96
Bolivia 38.61
Brazil 19.21
Chile 7.02
Paraguay 20.75
Uruguay 8.97
Peru 20.21
French Guiana 14.6
Guyana 33.56
Suriname 27.07
Venezuela 19.33
Ecuador 17.93
Algeria 21.76
Libya 11.87
Mali 104.34
Mauritania 56.06
Morocco 24.52
Niger 86.27
Tunisia 23.19
Western Sahara 145.82
Angola 79.99
Congo 59.34
Namibia 45.64
Zaire 73.15
Zambia 66.62
Benin 57.09
Burkina Faso 76.8
Nigeria 74.09
Togo 46.73
Botswana 9.38
South Africa 41.61
Zimbabwe 26.55
Cote dIvoire 60.16
Ghana 38.52
Burundi 63.44
Rwanda 59.59
Tanzania 43.74
Cameroon 55.1
Central African Republic 92.86
Chad 90.3
Equatorial Guinea 71.12
Gabon 47.03
Cape Verde 24.28
Sudan 52.86
South Sudan 68.16
Comoros 65.31
Guinea 55.24
Liberia 69.19
Djibouti 50.2
Eritrea 38.44
Ethiopia 55.77
Somalia 100.14
Kenya 40.71
Gambia 65.74
Senegal 52.72
Guinea-Bissau 90.92
Sierra Leone 73.29
Uganda 60.82
Lesotho 50.48
Madagascar 44.88
Malawi 48.01
Mozambique 72.42
Mauritius 10.59
Mayotte 56.29
Swaziland 54.82
Reunion 7.5
Saint Helena 17.63
Sao Tome and Principe 49.16
Seychelles 10.77

In [34]:
import pandas as pd

In [43]:
infant_mortality = pd.DataFrame(columns=['Country', 'Infant Mortality'])
infant_mortality

Empty DataFrame
Columns: [Country, Infant Mortality]
Index: []

In [63]:

for country in document.getroot().iterfind('country'):
    if country.find('infant_mortality') == None:
        continue
    temp = pd.DataFrame([[country.find('name').text,country.find('infant_mortality').text]],columns=['Country','Infant Mortality'])
    infant_mortality = infant_mortality.append(temp)

In [66]:
infant_mortality['Infant Mortality'] = infant_mortality['Infant Mortality'].astype(float)

In [71]:
infant_mortality.sort_values('Infant Mortality', ascending=False).head(10)

                    Country  Infant Mortality
0            Western Sahara            145.82
0               Afghanistan            117.23
0                      Mali            104.34
0                   Somalia            100.14
0  Central African Republic             92.86
0             Guinea-Bissau             90.92
0                      Chad             90.30
0                     Niger             86.27
0                    Angola             79.99
0              Burkina Faso             76.80

In [86]:
city_population = pd.DataFrame(columns=['City', 'Population'])
city_population

Empty DataFrame
Columns: [City, Population]
Index: []

In [87]:
for country in document.getroot().iterfind('country'):
    for city in country.iterfind('city'):
        if city.find('population') == None:
            continue
        temp = pd.DataFrame([[city.find('name').text,city.findall('population')[len(city.findall('population'))-1].text]],columns=['City','Population'])
        city_population = city_population.append(temp)

In [91]:
city_population['Population'] = city_population['Population'].astype(int)
city_population.sort_values('Population', ascending=False).head(10)

              City  Population
0            Seoul     9708483
0       Al Qahirah     8471859
0          Bangkok     7506700
0        Hong Kong     7055071
0      Ho Chi Minh     5968384
0        Singapore     5076700
0  Al Iskandariyah     4123869
0       New Taipei     3939305
0            Busan     3403135
0        Pyongyang     3255288

In [104]:
(int(document.getroot().find('country').find('ethnicgroup').attrib['percentage'])/100)

0.95

In [108]:
int(document.getroot().find('country').findall('population')[len(document.getroot().find('country').findall('population'))-1].text)

2800138

In [113]:
ethnic_groups = pd.DataFrame(columns=['Ethnicity','Percentage','Country Population'])
ethnic_groups

Empty DataFrame
Columns: [Ethnicity, Percentage, Country Population]
Index: []

In [119]:
for country in document.getroot().iterfind('country'):
    for ethnicity in country.iterfind('ethnicgroup'):
        if country.find('population') == None:
            continue
        temp = pd.DataFrame([[ethnicity.text,float(ethnicity.attrib['percentage'])/100,country.findall('population')[len(country.findall('population'))-1].text]],
                           columns=['Ethnicity','Percentage','Country Population'])
        ethnic_groups = ethnic_groups.append(temp)

In [123]:
ethnic_groups['Percentage'] = ethnic_groups['Percentage'].astype(float)
ethnic_groups['Country Population'] = ethnic_groups['Country Population'].astype(int)
ethnic_groups['Ethnic Population'] = ethnic_groups['Percentage']*ethnic_groups['Country Population']

In [135]:
ethnic_groups['Ethnic Population'] = ethnic_groups['Ethnic Population'].astype(int)
ethnic_groups

           Ethnicity  Percentage  Country Population  Ethnic Population
0           Albanian      0.9500             2800138            2660131
0              Greek      0.0300             2800138              84004
0              Greek      0.9300             7632801            7098504
0         Macedonian      0.6420             1935034            1242291
0           Albanian      0.2520             1935034             487628
0            Turkish      0.0390             1935034              75466
0              Gypsy      0.0270             1935034              52245
0               Serb      0.0180             1935034              34830
0           Albanian      0.9500             2800138            2660131
0              Greek      0.0300             2800138              84004
0              Greek      0.9300             7632801            7098504
0         Macedonian      0.6420             1935034            1242291
0           Albanian      0.2520             1935034             487628
0            Turkish      0.0390             1935034              75466
0              Gypsy      0.0270             1935034              52245
0               Serb      0.0180             1935034              34830
0           Albanian      0.9500             2800138            2660131
0              Greek      0.0300             2800138              84004
0              Greek      0.9300            10816286           10059145
0         Macedonian      0.6420             2059794            1322387
0           Albanian      0.2520             2059794             519068
0            Turkish      0.0390             2059794              80331
0              Gypsy      0.0270             2059794              55614
0               Serb      0.0180             2059794              37076
0               Serb      0.8290             7120666            5903032
0        Montenegrin      0.0090             7120666              64085
0          Hungarian      0.0390             7120666             277705
0               Roma      0.0140             7120666              99689
0            Bosniak      0.0180             7120666             128171
0              Croat      0.0110             7120666              78327
..               ...         ...                 ...                ...
0            African      0.9900             1586624            1570757
0              Asian      0.0100             5751976              57519
0            African      0.9900             5751976            5694456
0             Rwanda      0.0600            34856813            2091408
0               Arab      0.0100            34856813             348568
0            Baganda      0.1700            34856813            5925658
0         Karamojong      0.1200            34856813            4182817
0             Basogo      0.0800            34856813            2788545
0              Iteso      0.0800            34856813            2788545
0              Langi      0.0600            34856813            2091408
0             Bagisu      0.0500            34856813            1742840
0             Acholi      0.0400            34856813            1394272
0            Lugbara      0.0400            34856813            1394272
0            Bunyoro      0.0300            34856813            1045704
0             Batobo      0.0300            34856813            1045704
0              Sotho      0.9970             2008921            2002894
0           European      0.0006            23700715              14220
0             Indian      0.0008            23700715              18960
0       Euro-African      0.0020            23700715              47401
0             Creole      0.2700             1237091             334014
0     Indo-Mauritian      0.6800             1237091             841221
0     Sino-Mauritian      0.0300             1237091              37112
0   Franco-Mauritian      0.0200             1237091              24741
0           European      0.0300             1193148              35794
0            African      0.9700             1193148            1157353
0    African descent      0.5000                5663               2831
0              White      0.2500                5663               1415
0            Chinese      0.2500                5663               1415
0           European      1.0000              187356             187356
0        Seychellois      1.0000               90945              90945

[644 rows x 4 columns]

In [137]:
ethnic_groups.groupby(['Ethnicity',]).sum().sort_values('Ethnic Population',ascending=False)

                          Percentage  Country Population  Ethnic Population
Ethnicity
Han Chinese                   0.9150          1360720000         1245058800
Indo-Aryan                    0.7200          1210854977          871815583
European                      9.7082          1157295639          494872201
African                      18.6855           975352746          318325104
Dravidian                     0.2500          1210854977          302713744
Mestizo                       8.7070           279743964          157734349
Bengali                       0.9800           149772364          146776916
Russian                       2.2410           322438406          131856989
Japanese                      0.9940           127298000          126534212
Malay                         2.4230           377500275          121993548
Javanese                      0.6030           252666096          113538876
Arab                          6.3830           312100961          111455197
Mulatto                       1.4510           280952392           93271171
Eastern Hamitic               0.9900            83667047           82830376
Arab-Berber                   2.9610            80947196           80060796
German                        1.6560           199101485           79847054
Viet/Kinh                     0.8570            88772900           76078375
Turkish                       1.2864           215366481           67372750
Amerindian                    1.8237           588752467           60844982
English                       0.8360            64105654           53592326
Thai                          0.7680           154754559           51084156
Mediterranean Nordic          1.0000            46815916           46815916
Bantu                         0.9500            44928923           42682476
Ukrainian                     0.9950           292810757           39710569
Mongol                        0.9790          1213609662           38939845
Polish                        1.1100           114767874           38418179
Persian                       0.5100            75149669           38326331
Sundanese                     0.1400           252124458           35297424
Burman                        0.6800            51419420           34965205
Chinese                       4.7290           296331835           33455316
...                              ...                 ...                ...
European Syrian-Lebanese      0.0100             6191155              61911
Chamorro                      0.3710              159358              59121
Greenlander                   0.8600               56370              48478
Scandinavian                  1.0000               48197              48197
Euro-African                  0.0020            23700715              47401
Yezidi                        0.0130             3026879              39349
Sino-Mauritian                0.0300             1237091              37112
Alemannic                     0.9500               36636              34804
Spanish                       0.4300               78115              33589
Maya                          0.1060              312971              33174
Afro-Chinese                  0.0120             2697983              32375
Mixed                         0.5180              143089              27637
Andorran                      0.3300               78115              25777
Franco-Mauritian              0.0200             1237091              24741
Wallisian                     0.0900              245580              22102
Garifuna                      0.0610              312971              19091
Ruthenian                     0.0030             5397036              16191
Euronesians                   0.0700              187820              13147
Monegasque                    0.2160               36845               7958
Danish                        0.1400               56370               7891
Basques Bretons               1.0000                6312               6312
Europeans                     0.0140              729458               6167
Nauruan                       0.5800               10025               5814
African descent               0.5000                5663               2831
Tongan                        0.0400               55519               2220
Caucasian                     0.0380              109402               2079
Christian                     0.6720                2931               1969
None                          0.3150                2931                923
Russian Ukrainian             0.4430                1872                829
Bounty                        1.0000                  66                 66

[280 rows x 3 columns]

In [138]:
ethnic_groups['Ethnic Population'].sum()

5983854907

In [160]:
print(document.getroot().find('river').find('name').text)
country_abbrev = document.getroot().find('river').find('source').attrib['country']
print(int(document.getroot().find('river').find('length').text))

for country in document.getroot().iterfind('country'):
    if country.attrib['car_code'] == country_abbrev:
        print(country.find('name').text)

Thjorsa
230
Iceland

In [162]:
rivers = pd.DataFrame(columns=['Country','River Name','Length'])
rivers

Empty DataFrame
Columns: [Country, River Name, Length]
Index: []

In [166]:
for river in document.getroot().iterfind('river'):
    if river.find('length')==None:
        continue
    country_abbrev = river.find('source').attrib['country']
    river_name = river.find('name').text
    length = float(river.find('length').text)
    for country in document.getroot().iterfind('country'):
        if country.attrib['car_code'] == country_abbrev:
            country_name = country.find('name').text
    temp = pd.DataFrame([[country_name,river_name,length]],columns=['Country','River Name','Length'])
    rivers = rivers.append(temp)

In [170]:
rivers.sort_values('Length',ascending=False).head(1)

  Country River Name  Length
0    Peru   Amazonas  6448.0

In [177]:
print(document.getroot().find('lake').find('name').text)
print(document.getroot().find('lake').find('area').text)
country_abbrev = document.getroot().find('lake').attrib['country']
for country in document.getroot().iterfind('country'):
    if country.attrib['car_code'] == country_abbrev:
        print(country.find('name').text)

Inari
1040
Finland

In [190]:
lakes_df1 = pd.DataFrame(columns=['Country','Lake','Area'])
lakes_df1

Empty DataFrame
Columns: [Country, Lake, Area]
Index: []

In [191]:
for lake in document.getroot().iterfind('lake'):
    if lake.find('area') == None:
        continue
    lake_name = lake.find('name').text
    lake_area = float(lake.find('area').text)
    country_abbrev = lake.attrib['country']
    for country in document.getroot().iterfind('country'):
        if country.attrib['car_code'] == country_abbrev:
            country_name = country.find('name').text
    temp = pd.DataFrame([[country_name,lake_name,lake_area]],columns=['Country','Lake','Area'])
    lakes_df1 = lakes_df1.append(temp)

In [194]:
lakes_df1.sort_values('Area',ascending=False).head(1)

  Country         Lake      Area
0    Iran  Caspian Sea  386400.0

In [198]:
print(document.getroot().find('airport').find('name').text)
print(document.getroot().find('airport').find('elevation').text)
print(document.getroot().find('airport').attrib['country'])

Herat
977
AFG

In [199]:
airports = pd.DataFrame(columns=['Country','Airport','Elevation'])
airports

Empty DataFrame
Columns: [Country, Airport, Elevation]
Index: []

In [204]:
for airport in document.getroot().iterfind('airport'):
    if airport.find('elevation')==None:
        continue
    airport_name = airport.find('name').text
    elevation = airport.find('elevation').text
    country_abbrev = airport.attrib['country']
    for country in document.getroot().iterfind('country'):
        if country.attrib['car_code'] == country_abbrev:
            country_name = country.find('name').text
    temp = pd.DataFrame([[country_name,airport_name,elevation]],columns=['Country','Airport','Elevation'])
    airports = airports.append(temp)

In [206]:
airports['Elevation'] = airports['Elevation'].astype(float)

In [209]:
airports.sort_values('Elevation',ascending=False).head(1)

   Country       Airport  Elevation
0  Bolivia  El Alto Intl     4063.0